.app {
  display: flex;
  background-color: #c4bdaf;
}

.left-nav {
  height: 100vh;
}

.right {
  margin: 0 auto;
  background-color: whitesmoke;
  width: 80%;
  margin-left: 200px;
}

.search-form {
  padding: 20px;
  background-color: #d3d3d3;
}

.search-bar {
  background-color: transparent;
  width: 80%;
  border: none;
  margin-left: 15px;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
}

.notes {
  display: grid;
  margin: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.note-card {
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 4px rgb(128 128 128 / 20%);
  padding: 1em;
}

.notes > a {
  margin: 15px;
  text-decoration: none;
}

i {
  width: 20px;
}
