.app {
  display: flex;
  background-color: #c4bdaf;
}

.left-nav {
  height: 100vh;
}

.right {
  background-color: whitesmoke;
  width: 80%;
  margin-left: 200px;
  box-shadow: 10px 0px 18px #868686;
}

#header {
  font-size: 32px;
  letter-spacing: -2px;
  text-shadow: 3px 0px 1px rgb(203, 203, 203);
  text-transform: uppercase;
  font-style: italic;
  color: black;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}

.search-form {
  padding: 27.5px;
  background-color: #d3d3d3;
}

.search-bar {
  background-color: transparent;
  width: 80%;
  border: none;
  margin-left: 15px;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
}

.notes {
  display: grid;
  margin: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.note-card {
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 4px rgb(128 128 128 / 40%);
  padding: 1em;
  background-color: white;
}

.note-card:hover {
  transition: all 200ms ease-in-out;
  box-shadow: 0 1px 4px rgb(128 128 128);
}

.notes > a {
  margin: 15px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .notes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .notes {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .right {
    margin: 0;
    width: 100vw;
  }
  .search-form {
    margin-top: 68px;
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .notes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .notes {
    grid-template-columns: 1fr;
  }
}
