nav {
  position: fixed;
  width: 200px;
}

nav a {
  text-decoration: none;
  padding: 1em;
  font-weight: 700;
  height: 20px;
  display: block;
  color: whitesmoke;
  transition: all 200ms ease-in-out;
}

nav ul {
  list-style-type: none;
  letter-spacing: -1px;
  padding: 0;
  font-size: 16px;
  margin: 0;
}

ul > ul a {
  padding-left: 2.5em;
  background-color: rgba(255, 255, 255, 0.5);
  color: darkgray;
  transition: all 200ms ease-in-out;
}

ul > ul a:hover,
li > a:hover,
.active {
  color: #c4bdaf;
  font-weight: 800;
  transition: all 200ms ease-in-out;
  background-color: #d3d3d3;
}

header {
  font-size: 32px;
  letter-spacing: -2px;
  text-shadow: 7px 0px 1px whitesmoke;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Roboto Condensed", sans-serif;
}

header a {
  color: black;
}

.active {
  background-color: whitesmoke;
}
