nav {
  position: fixed;
}

header {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -3px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
}

nav ul {
  list-style-type: none;
  padding-left: 1em;
  letter-spacing: -1px;
  font-size: 18px;
}
