#nav-container {
  width: 100vw;
  background-color: #c4bdaf;
  padding: 0;
}

#nav-logo {
  font-size: 32px;
  letter-spacing: -2px;
  text-shadow: 7px 0px 1px whitesmoke;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(103, 103, 103);
  font-weight: 700;
  background-color: #c4bdaf;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 30px;
}

.navbar-toggler {
  margin-right: 30px;
}

.nav-item,
.sub-category {
  background-color: #ffffff80;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  font-weight: 700;
  color: #7d7d7d;
  transition: all 200ms ease-in-out;
}

.sub-category {
  background-color: rgb(227, 227, 227);
}

.nav-item:hover,
.sub-category:hover,
.active {
  background-color: whitesmoke;
  font-weight: 800;
  transition: all 200ms ease-in-out;
  color: #989898;
}

#nav-menu-items {
  flex-direction: column;
}

#basic-navbar-nav {
  flex-grow: 0;
}

i {
  padding-right: 5px;
}

@media (min-width: 992px) {
  #nav-container {
    width: 200px;
    font-family: "NanumSquare", sans-serif;
    flex-direction: column;
    padding: 0;
  }
  .nav-item,
  .sub-category {
    width: 200px;
    justify-content: flex-start;
  }
  .sub-category {
    padding-left: 3em;
  }
  #nav-logo {
    padding: 18px 0;
    margin: 0;
  }
}
