.new-note-form {
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 4px rgb(128 128 128 / 40%);
  background-color: white;
  margin: 30px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}

#form-title {
  width: 60%;
}

#form-category {
  width: 39%;
}

#toast-ui-editor {
  width: 100%;
  margin-top: 1rem;
}

.form-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.special-characters {
  background-color: #e3e3e3;
  color: #656565;
  padding: 2em;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 15px;
}

.form-bottom {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comfort-level {
  display: flex;
  flex-direction: column;
}

#form-comfortLevel {
  padding: 0;
}

#form-submit {
  background-color: #989898;
  border: none;
  border-radius: 8px;
  color: whitesmoke;
  padding: 0 2em;
  box-shadow: 3px 2px 0px rgb(128 128 128 / 20%);
  transition: all 200ms ease-in-out;
  font-weight: 700;
  font-size: 12px;
  height: 40px;
  display: flex;
  align-items: center;
}

#form-submit:hover {
  background-color: #c4bdaf;
  transition: all 200ms ease-in-out;
}

@media (max-width: 768px) {
  .form-top {
    flex-direction: column;
  }
  #form-title,
  #form-category {
    width: 100%;
  }
  #form-content {
    margin-top: 20px;
  }
}
