.note-card-title {
  color: black;
  font-size: 18px;
}

.note-card small {
  color: #767676;
  font-size: 12px;
}

.note-card-comfortLevel {
  color: #f4c52c;
  font-size: 12px;
}

.note-card i {
  padding: 0;
  font-size: 14px;
  color: orange;
}

.note-card article {
  color: #727272;
  font-size: 14px;
  padding: 1em 0px;
}
