.new-note-form {
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 4px rgb(128 128 128 / 40%);
  background-color: white;
  margin: 0 30px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#form-title {
  width: 60%;
}

#form-category {
  width: 39%;
}

#form-content {
  height: 25em;
}

.form-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-bottom {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.comfort-level {
  display: flex;
  flex-direction: column;
}

.comfort-level label {
  font-size: 14px;
}

#form-comfortLevel {
  padding: 0;
}

#form-submit {
  background-color: #989898;
  border: none;
  border-radius: 8px;
  color: whitesmoke;
  padding: 0 1rem;
  box-shadow: 3px 2px 0px rgb(128 128 128 / 20%);
  transition: all 200ms ease-in-out;
}

#form-submit:hover {
  background-color: #c4bdaf;
  transition: all 200ms ease-in-out;
}
