.new-project-form {
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 4px rgb(128 128 128 / 40%);
  background-color: white;
  margin: 0 30px 30px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}

#project-form-top,
#project-form-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#project-form-title,
#project-form-thumbnail {
  width: 59%;
}

#project-form-deployedSite,
#project-form-date {
  width: 39%;
}

#project-form-short,
#content {
  margin-bottom: 1em;
  resize: none;
}

#project-form-submit {
  background-color: #989898;
  border: none;
  border-radius: 8px;
  color: whitesmoke;
  padding: 0 1rem;
  box-shadow: 3px 2px 0px rgb(128 128 128 / 20%);
  transition: all 200ms ease-in-out;
  width: 82px;
  height: 46px;
  float: right;
}

#project-form-submit:hover {
  background-color: #c4bdaf;
  transition: all 200ms ease-in-out;
}
